.icon {
    cursor: pointer;
    outline: none;
    width: 2.82vh;
    display: block;

    &:focus-visible:not(:active) {
        outline: 2px solid $dark-accent-color;
    }
}
.icon-fill {
    &:hover path {
        fill: $light-accent-color;
    }
    &:active path {
        fill: $dark-accent-color;
    }
    &:disabled {
        fill: $light-gray-color;
    }
}
.icon-stroke {
    &:hover path {
        stroke: $light-accent-color;
    }
    &:active path {
        stroke: $dark-accent-color;
    }
    &:disabled {
        stroke: $light-gray-color;
    }
}
@mixin icons-states {
    &:hover .icon-stroke path {
        stroke: $light-accent-color;
    }
    &:hover .icon-fill path {
        fill: $light-accent-color;
    }
    &:active .icon-stroke path {
        stroke: $dark-accent-color;
    }
    &:active .icon-fill path {
        fill: $dark-accent-color;
    }
    &:disabled .icon-stroke path {
        stroke: $light-gray-color;
    }
    &:disabled .icon-fill path {
        fill: $light-gray-color;
    }
    &:focus-visible:not(:active) .icon-stroke,
    &:focus-visible:not(:active) .icon-fill {
        outline: 2px solid $dark-accent-color;
    }
}
