@mixin icon {
    cursor: pointer;
    outline: none;
    width: 2.82vh;
    height: 2.82vh;
    display: block;

    &:focus-visible:not(:active) {
        outline: 2px solid $accent-600-color;
    }
}
@mixin icon-states($property) {
    &:hover path {
        #{$property}: $accent-200-color;
    }
    &:active path {
        #{$property}: $accent-600-color;
    }
    &:disabled {
        #{$property}: $white-300-color;
    }
}
.icon {
    @include icon;
}
.icon-fill {
    @include icon-states("fill");
}
.icon-stroke {
    @include icon-states("stroke");
}
@mixin children-icons-states {
    &:hover .icon-stroke path {
        stroke: $accent-200-color;
    }
    &:hover .icon-fill path {
        fill: $accent-200-color;
    }
    &:active .icon-stroke path {
        stroke: $accent-600-color;
    }
    &:active .icon-fill path {
        fill: $accent-600-color;
    }
    &:disabled .icon-stroke path {
        stroke: $white-300-color;
    }
    &:disabled .icon-fill path {
        fill: $white-300-color;
    }
    &:focus-visible:not(:active) .icon-stroke,
    &:focus-visible:not(:active) .icon-fill {
        outline: 2px solid $accent-600-color;
    }
}
