@mixin header1-text {
    font-family: Alexandria;
    font-size: 5.55rem; //100px
    font-style: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}
@mixin header1-text-extra-light {
    @include header1-text;
    font-weight: 200;
    line-height: 1.3em; /* 130px */
}

@mixin header1-text-light {
    @include header1-text;
    font-weight: 300;
    line-height: 1em; /* 130px */
}

@mixin header2-text {
    font-family: Alexandria;
    font-size: 4.44rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.3em; /* 104px */
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

@mixin header3-text {
    font-family: Alexandria;
    font-size: 3.33rem; //60px
    font-style: normal;
    font-weight: 300;
    line-height: 1.3em; /* 78px */
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

@mixin body-numbers-text {
    font-family: Play;
    font-size: 5.55rem; //100px
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin body-xs-light {
    font-family: Alexandria;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@mixin body-xs-medium {
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin body-xs-semibold {
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
@mixin body-s-extra-light {
    font-family: Alexandria;
    font-size: 1.11rem; //20px
    font-style: normal;
    font-weight: 200;
    line-height: 1.3em; /* 26px */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

@mixin body-m-light {
    font-family: Alexandria;
    font-size: 1.33rem; //24px
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@mixin body-l-light {
    font-family: Alexandria;
    font-size: 1.67rem; //30px
    font-style: normal;
    font-weight: 500;
    line-height: 1.3em; /* 39px */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

@mixin link-states {
    &:hover {
        color: $accent-200-color;
    }
    &:active {
        color: $accent-600-color;
    }
    &:focus-visible:not(:active) {
        outline: 2px solid $accent-600-color;
    }
    &:disabled {
        color: $white-300-color;
    }
}
