$black-color: #000000;
$black-800-color: #2d2d2d;
$black-900-color: #121212;
$accent-200-color: #ffc39d;
$accent-400-color: #ef7f38;
$accent-500-color: #f06e1c;
$accent-600-color: #ec6814;
$accent-900-color: #834620;
$gray-color: #676767;
$gray-40-color: #18181866;
$red-color: #ff0000;
$white-50-color: #f6f6f6;
$white-300-color: #9399a3;
$white-500-color: #676767;

:root {
    --black-color: #000000;
    --accent-color: #ec6814;
}
