$black-color: #000000;
$white-color: #f6f6f6;
$accent-20-color: #ffc39d;
$accent-color: #ec6814;
$dark-accent-color: #834620;
$light-accent-color: #ffc39d;
$light-gray-color: #9399a3;
$dark-gray-color: #2d2d2d;
$gray-color: #676767;
$red-color: #ff0000;

:root {
    --black-color: #000000;
    --accent-color: #ec6814;
}
