.gallery-footer-wrapper {
    z-index: 5;
    background-color: $black-color;
    outline: none;
}

.gallery-section {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;

    &__text-wrapper {
        z-index: 2;
        position: relative;
        width: min(51.39vw, 87.6vh);
        height: min(51.39vw, 87.6vh);
        margin-bottom: 1.29vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__dark-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $black-color;
            filter: blur(8.33rem);
            z-index: -1;
        }

        h2 {
            text-align: center;
            max-width: 90.3%;
        }
        p {
            @include body-m-light;
            margin-top: 4.05%;
        }
    }
    &__button {
        background: none;
        border: 1px solid $white-500-color;
        border-radius: 2.78rem;
        color: $white-50-color;
        @include body-xs-light;
        display: flex;
        align-items: center;
        gap: 0.55rem;
        padding: 0.83rem;
        margin-top: 14.05%;

        &:hover {
            border-color: $white-50-color;
        }
        &:active {
            color: $white-300-color;
            border-color: $white-500-color;

            circle,
            path {
                stroke: $white-300-color;
            }
        }
        &:disabled {
            border-color: $white-500-color;
            color: $white-500-color;
            circle,
            path {
                stroke: $white-500-color;
            }
        }
        &:focus-visible:not(:active) {
            border: none;
            outline: 2px solid $accent-600-color;
        }
    }

    &__photo {
        position: absolute;
        top: 101%;
        will-change: top;

        &--11,
        &--12 {
            height: 36vh;
            left: 42.36%;
        }
        &--21,
        &--22 {
            height: 49vh;
            left: 2.5%;
        }
        &--31,
        &--32 {
            height: 44.35vh;
            right: 2.5%;
        }
        &--41,
        &--42 {
            height: 40vh;
            left: 21.25%;
        }
        &--51,
        &--52 {
            height: 36vh;
            right: 15%;
        }
    }
}
