.hero-section {
    overflow: hidden;

    &__header {
        @include header1-text-light;
        position: absolute;
        top: 41.88%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #ffffffb2;
        width: min(118.4vh, 69.86vw);
        user-select: none;
    }
}
#hero-section__bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
