.menu-section {
    position: fixed;
    top: 1.18vh;
    bottom: 1.18vh;
    left: 1.18vh;
    right: auto;
    z-index: 40;
    background-color: #00000080;
    backdrop-filter: blur(2px);
    border-radius: 1.76vh;
    min-width: auto;
    width: auto;
    height: auto;
    padding: 2.94vh 1.88vh 2.35vh;
    display: flex;
    flex-direction: column;
    max-width: fit-content;

    &__menu-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.12vh;
        height: 100%;
        width: 3.1vw;
    }
    &__menu-icon-wrapper {
        flex-grow: 1;
    }
    &__menu-icon {
        width: 5.21vh;
        svg {
            path {
                stroke: $white-50-color;
            }
            @include icon;
            @include icon-states("stroke");
        }
        &:focus-visible:not(:active) svg {
            outline: 2px solid $accent-900-color;
        }
    }
    &__contacts-icon {
        padding: 1.18vh;
        border: 1px solid $black-800-color;
        border-radius: 50%;
        outline: none;
        transform-origin: bottom;
        @include children-icons-states;
        &:focus-visible:not(:active) {
            border-color: $accent-600-color;

            .icon-stroke,
            .icon-fill {
                outline: none;
            }
        }
    }

    &__navigation-links-wrapper {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding-top: 8vh;
        padding-bottom: 19.18vh;
    }
    &__navigation-link {
        @include header1-text-extra-light;
        display: block;
        text-align: center;
        width: fit-content;
        outline: none;
        transform: scaleY(0);
        transform-origin: bottom;
        &:hover {
            color: $accent-600-color;
        }
        &:active {
            color: $accent-900-color;
        }
        &:focus-visible:not(:active) {
            outline: 2px solid $accent-600-color;
            color: #fff;
        }
    }
    &__contacts-wrapper {
        display: none;
        justify-content: space-between;
        transform: scaleY(0);
        transform-origin: bottom;
    }
    &__contact-name {
        color: $white-300-color;
    }
    &__contact-content {
        @include link-states;
        margin-top: 5px;
    }
}
