.services-section {
    z-index: 4;
    background-image: url("./public/assets/images/services-bg.jpg");
    background-position: center;
    background-size: cover;
    outline: none;

    &__cards-wrapper {
        display: flex;
        flex-direction: column;
        gap: 17.6vh;
        scroll-behavior: smooth;
        padding: 16.8vh 2.36vw;
        overflow-x: hidden;
    }
    &__card-image {
        width: 13.9vw;
        border-radius: 2.35vh;
        align-self: flex-end;
    }
    &__card-title {
        @include body-l-light;
        margin-top: 0.5rem;
        max-width: 24.3vw;
    }
    &__card {
        width: 31.25vw;
        padding: 2.35vh;
        border-radius: 3.5vh;
        background-color: $gray-40-color;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        transform: translateX(-100%) scale(0.5);

        &:nth-child(odd) {
            align-self: flex-end;
            transform: translateX(100%) scale(0.5);
        }

        &:nth-child(3) {
            .services-section__card-title {
                max-width: 16vw;
            }
        }
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            .services-section__card-title {
                max-width: 100%;
            }
        }
    }

    &__card-text-wrapper {
        margin-top: 1.65vh;
        display: flex;
        gap: 4.51vw;
    }
    &__card-icon {
        width: 8vh;
    }
}
