.statement-section {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: $black-color;

    &__statement-wrapper {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 2.35vh;
        }
    }

    &__primary-text-h2 {
        overflow: hidden;
    }

    &__secondary-text-h2 {
        color: $black-800-color;
        opacity: 0; // to 1
    }

    &__secondary-text-h2-animate-second {
        color: $black-900-color;
    }

    &__letter {
        display: inline-block;
        transform: translateY(100%); //to 0
        &__empty {
            display: inline;
        }
    }

    &__statement-primary-line,
    &__statement-secondary-line {
        border: none;
        width: 0; //to 100%
        background-color: $red-color;
        position: absolute;
        top: 53.5%;
        left: 0%;
    }
    &__statement-primary-line {
        height: 4px;
    }
    &__statement-secondary-line {
        height: 2px;
    }
    &__white-letters-primary {
        color: $white-50-color;
    }
    &__white-letters-sec-first {
        color: $accent-400-color;
    }
    &__white-letters-sec-sec {
        color: $accent-500-color;
    }
    &__text-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 86.7vw;
        column-gap: 1.8vh;
    }
    &__word-wrapper {
        overflow: hidden;
    }
    &__text-h3 {
        transform: translateY(100%);
        overflow: hidden;
    }
}
