*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    @include body-text;
}

body {
    color: $white-color;
    background-color: $black-color;
}
h1 {
    @include header1-text;
}
a {
    color: $white-color;
    text-decoration: none;
}
