*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none !important; /* for Internet Explorer, Edge */
    scrollbar-width: none !important; /* for Firefox */
    // scrollbar-width: 0 !important;
    &::-webkit-scrollbar {
        // display: none; /* Safari and Chrome */
        width: 0px !important;
        max-width: 0px !important;
    }
}

html,
body {
    @include body-xs-light;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    color: $white-50-color;
    background-color: $black-color;
}
.scroll-container {
    display: flex;
    overflow-y: hidden;
    // scroll-behavior: smooth;
    // will-change: scroll-position;
    will-change: transform; // Optimize for animations
    width: 100vw; // Explicit width
    height: 100vh; // Explicit height
}
.horisontal-scroll-box {
    position: sticky;
    left: 0;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
}
.vertical-scroll-box {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100vh;
}

section {
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
}
h1 {
    margin: 0;
}
h2 {
    @include header2-text;
    margin: 0;
}
h2 {
    @include header2-text;
    margin: 0;
}
h3 {
    @include header3-text;
    margin: 0;
}
a {
    color: $white-50-color;
    text-decoration: none;
    cursor: pointer;
}
